@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-dark-bg: #0f172b;
  --color-grey-text: #ffffffa4;
  --breakpoint-custom-br1: 1165px;

  @keyframes shine {
    0% {
      background-position: 100%;
    }

    100% {
      background-position: -100%;
    }
  }

  @keyframes shrink {
    
  }

  --animate-shine: shine 5s linear infinite;
}

@layer base {
  html {
    transition: ease 300ms;
  }
}

@layer components {
  .dark {
    background-color: black;
    color: #ffffffa4;
  }

  .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

}